#SL{
    background-image: url(/imagenes/SL.webp)  ;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
#PK{
    background-image: url(/imagenes/PK.jpg)  ;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
#SP{
    background-image: url(/imagenes/SP.jpg)  ;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
#MB{
    background-image: url(/imagenes/MB.jpg)  ;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
